body {
  text-align: center;
  font-family: sans-serif,verdana,arial,heltevica,serif;
  font-size: 10pt;
  background: url(../../assets/images/tiger_face.jpg) center -220px no-repeat transparent;
}

h1 {
  margin-top: 20px;
}

pre {
  padding: 10px 30px 10px 10px;
}

a {
  color: #ff7000;
  font-weight: bold;
}

ul {
  padding-left: 25px;
}

td {
 font-size: 10pt;
 padding: 5px;
 vertical-align: top;
}

#container {
  width: 94%;
  margin: 0 auto;
  position: relative;
  background: url(../images/fade-up.png) repeat-x transparent;
}

#aside {
  float: right;
  width: 270px;
  margin: 0 0;
  padding: 5px;
  text-align: center;
}

#aside iframe {
  border: none;
}

#header {
  text-align: left;
}

#header h1 {
  font-size: 64pt;
  font-weight: bold;
  padding: 20px 20px 5px 0;
  padding: 0;
  display: inline;
  text-align: left;
  color: #FF0000;
}

#header h1 a {
  color: #069;
  text-decoration: none;
}

#header h1 a:hover {
    color: #222;
    text-decoration: none;
}

#header h2 {
  color: #69c;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 0 0;
  display: inline;
}

#navi {
  padding: 2px;
  text-align: left;
}

#navi ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navi ul li {
  float: left;
  border-right: 1px solid #fff;
}

#navi a {
  background: #fff;
  color: #300;
  font-size: 1em;
  font-weight: bold;
  padding-right: 10px;
  text-decoration: none;
}

#navi a.active {
  font-weight: bold;
  background: #e60;
}

#navi a:hover {
  text-decoration: underline;
}

#main {
  text-align: left;
}

/*
#header-text {
  background: transparent;
  text-align: left;
  padding: 0;
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}
*/

#infobar {
  float: left;
  width: 190px;
  margin-right: 10px;
  padding-top: 10px;
  text-align: left;
}

#text {
  background: transparent;
  padding: 5px 0;
  margin-top: 20px;
  margin-left: 220px;
  margin-right: 280px;
}


.stark {
  background: #ff7010;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  border: 2px solid black;
  padding: 10px;
}

#footer {
  clear: both;
  height: 120px;
  border-top: 2px solid black;
  background: #ff6000;
  font-size: .8em;
  font-weight: bold;
  color: white;
  text-align: left;
  padding: 20px 40px;
  margin: 20 0 0 0;
}

#footer img {
  margin: 0px 20px;
}





.right ul {
    color:#996633;
    list-style-type:square;
    padding:0pt 2em;
}

.right h4 {
    color: #d60;
    margin-bottom: 1em;
}

.right a {
    text-decoration: none;
    color: #b50;
}


table.projects {
  border: 1px solid orange;
}

table.projects th {
  text-align: left;
  padding: 10px;
  border: 1px solid #cccccc;
}

table.projects td {
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
}

table.projects .projtitle {
  font-weight: bold;
}

table.projects .wanted {
  background: #fcc;
}

table.projects .alpha {
  background: #fcc;
}

table.projects .stable {
  background: #cfc;
}

table.projects .beta {
  background: #ffc;
}

