body {
  background-color: white;
}

a {
  color: green; /* #2454ad; */
  font-weight: bold;
}

a:hover {
  color: #ff4455;
}

p {
  color: #222;
}

.topfade {
  background: url(../images/orange-fade-up-sm.png) repeat-x white;
}

#header {
  background: url(../images/u.jpg) 0px 0px repeat-x #111;
  color: #111;
}

#header .menu a {
  font-weight: bold;
}

#header .menu a:hover {
  color: #222;
  font-weight: bold;
  text-decoration: underline;
}

.heading .title {
  color: #2454ad;
}

.heading .title:hover {
  color: #ff4455;
}

.footer {
  color: #777;
  background: url(../images/White-Tiger-drinking-water.jpg) bottom right no-repeat;
}

.btext {
  position: relative;
}

.continue {
  margin: 0; padding: 0;
  position: absolute;
  bottom: 0;
  padding-top: 70px;
  background: url(../images/fade-up-sm.png) repeat-x;
  width: 100%;
  text-align: right;
}

#github-badge .footer {
  background: transparent;
}
