html { margin: 0; padding: 0; background: url(/assets/images/amiga2000.jpg) no-repeat top right;
       color: #222; background-attachment:fixed; }
body{ padding: 0; margin: 0; }

a { color: #225; }

#container{
  margin: 72px auto; padding 0; width: 720px; background: #fff; color: #222;
  box-shadow: 20px 20px 20px #222; border: 1px solid #aaa; border-radius: 10px; 
}

#header{
  height: 50px; margin: 0; padding: 40px 15px 20px 15px; font-size: 36px; font-family: Jura, monospace;
}
#header h1 { margin-top: 20px; color: #55f; text-shadow: 0px 0px 10px #aaa; }
#header h2 { color: #5f5; text-shadow: 0px 0px 5px black; padding: 5px 0 20px 15px; }

#nav{ padding: 0 10px; color: #555; border-bottom: 0px solid #555; height: 30px; }
#nav ul { list-style-type: none; margin: 0; padding: 0; }
#nav ul li { float: left; width: 70px; padding: 10px 5px; text-align: center; border: 1px solid #fee; margin: 2px; }
#nav ul li:hover{ background-color: #eee; }

#ad { padding: 25px 0; clear: both; }

#content-wrapper { padding: 10px 15px 10px 10px; }

#content{ color: #111; padding: 20px; margin: 0; background: transparent; text-align: justify; }
#content h1 { border-top: 0; padding-top: 0px; font-family: Jura, monospace; }
#content h2 { font-family: Jura, monospace; }
#content p { font-size: 1em; font-weight: normal; line-height: 1.8em; }
#content li a { font-weight: bold; }

#content .path {
  text-align: right;
  color: #666;
  padding: 5px 20px;
  background: transparent;
}

#comments {
  margin-top: 40px;
  padding: 20px;
}

#footer{
  color:#111; padding:20px; border:none; background:#fff; min-height: 300px; 
}
#footer .tiger { background: transparent; height: 300px; }

.shr_class { padding: 20px; }

.post-date { font-family: monospace; color: #555; }

