html {
  background: white;
}

footer{
  background: url(../images/white-tiger-drinking.jpg) no-repeat right;
  height: 300px;
}

body{ color: #222; background: url(assets/images/bg.jpg); padding: 0; margin: 0; }

header{ color: #222; height: 60px; margin: 0; padding: 30px 0; font-family: courier, monospace; font-size: 48px; }
header h1 { margin-top: 20px; color: #222; text-shadow: 0px 0px 5px #555; }
header h2 { color: #cccccc; text-shadow: 0px 0px 5px black; padding: 5px 0 20px 15px; }

nav{ padding: 0; background: #000; opacity: 0.8; border: none; }
nav ul { list-style-type: none; }
nav ul li { color: #eee; float: left; width: 50px; }
nav ul li:hover{ color: #59c; background: orange; }

#content{ color: #222; padding: 10px; width: 550px; margin: 0; background: #fff; }
#content h1 { color: #222; }
#content h2 { color: #222; }
#content p { color: #222; }

#sidebar{margin-bottom: 20px; padding: 10px; background: #fff; border: 1px solid #ccc; min-height: 100px; box-shadow: 5px 5px 10px #ccc; }
#sidebar h1,h2 { font-family: times; }
#sidebar h2 { font-size: 2em; margin: 10px 0 10px 0; }

footer{width: 550px; color:#222; margin-top:20px; padding:20px; border:none; background:#fff; }

#container{ margin: 0 auto; padding 0; width: 900px; }

.tab { display: none; }
.tabOn { background: orange; }

