/* Floater */
.dc-social-float .tab {
  cursor: pointer;
  height: 38px;
  margin-left: -1px;
}

.dc-social-float .dc-social-float-content {
  background: #fff;
  border: 1px solid #bbb;
  padding: 10px 0 0;
  text-align: center;
}

.dc-social-float .dc-social-float-content {
  border-radius: 5px; -webkit-border-radius: 5px;
}

.dcssb-btn {
  margin-bottom: 5px;
}

#dc-social-float-1 .tab, #dc-social-float-2 .tab {
  /* display: none; */ margin-bottom: 3px;
}

