/* main */

.doc {
  width: 980px;
  margin: 0 auto;
}

.main {
  width: 640px;
  float: left;
}

.side {
  width: 270px;
  float: left;
  padding-left: 70px;
}


/* HEADER */

#header {
  padding-top: 5px;
  margin-bottom: 10px;
  height: 260px;
  color: #111;
  background: url(../images/paper-edge.png) bottom repeat-x #000;
}

#header-inner {
  width: 980px;
  height: 260px;
  margin: 0 auto;
  text-align: left;
  border-bottom: 0px solid #ccc;
}

#header .title {
  height: 100px;
  font-size: 64px;
  line-height: 1em;
  font-weight: bold;
}

#header .logo {
  padding-top: 20px;
  margin-left: -10px;
}

/* side */

.side-title {
  border-bottom: 1px solid #ccc;
 }


/* MENU */

.menu {
  width: 50%;
  padding-top: 10px;
  padding-left: 50px;
  height: 32px;
  text-align: left;
  width: 100%;
  height: 20px;
}

.menu-inner {
}

.menu a {
  line-height: 20px;
  text-align: left;
  padding: 5px 10px;
  /* border-left: 1px solid #ccc; */
  font-family: monospace;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: #ccc;
}

.menu a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

.menu ul {
  list-style: none;
  margin: 0;
}

.menu li {
  float: left;
  line-height: 20px;
  text-align: center;
  width: 75px;
  border-left: 1px solid #ccc;
}

.menu li:hover {
  background: #ccc;
}



.topfade {
  width: 100%;
  height: 32px;
  text-align: center;
}

.btext {
  max-height: 30em; overflow: hidden;
  padding: 0 0;
  border: 0px solid #ccc;
  clear: both;
}


/* FOOTER */

.footer {
  width: 100%;
  height: 400px;
  color: #777;
  background: url(../images/White-Tiger-drinking-water.jpg) bottom right no-repeat;
  font-size: 1.4em;
  font-weight: bold;
}

.footer-inner {
  width: 960px;
  padding-top: 200px;
  margin: 0 auto;
  text-align: left;
}

.topfade {
  background: url(../images/orange-fade-up-sm.png) repeat-x white;
}


/* HEADINGS */

.heading .title {
  color: #2454ad;
}

.heading .title:hover {
  color: #ff4455;
}

.btext {
  position: relative;
}

.continue {
  margin: 0; padding: 0;
  position: absolute;
  bottom: 0;
  padding-top: 70px;
  background: url(../images/fade-up-sm.png) repeat-x;
  width: 100%;
  text-align: right;
}

#github-badge .footer {
  background: transparent;
}

.heading { font-size: 2em; }
.heading .title { font-size: 1.2em; font-weight: bold; color: #2454ad; }
.heading .date  { font-size: 0.6em; }

.article-title {
  font-size: 32px; font-weight: bold; color: #2454ad; line-height: 1em;
}

